.topBar {
  display: flex;
  align-items: center;
  grid-area: topBar;
  background: #131722;
  border-bottom: 5px solid #2a2e39;
}


.button {
  border-radius: 4px;
  background: #131722;
  user-select: none;

  &>img {
    pointer-events: none;
  }

  &:hover {
    background: #2a2e39;
    cursor: pointer;
  }
}

.timeframesContainer {
  display: flex;
  align-items: center;

  &>div {
    @extend .button;
    padding: 0.5em;
    margin-left: 0.2em;
  }
}

.seperator {
  height: 75%;
  width: 4px;
  background: #2a2e39;
  margin: 0 1em;
  border-radius: 4px;
}

.replayContainer {
  @extend .button;
  display: flex;
  align-items: center;
  height: 30px;
  padding-right: 8px;
}

.undoRedoContainer {
  display: flex;
  align-items: center;

  &>div {
    @extend .button;
  }
}
