.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: sideBar;
  background: #131722;
  border-right: 5px solid #2a2e39;
  overflow-y: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-top: 0.2em;
  background: #131722;
  user-select: none;

  &>img {
    pointer-events: none;
  }

  &:hover {
    background: #2a2e39;
    cursor: pointer;
  }
}

.activeButton {
  @extend .button;
  &>img {
    filter: brightness(1.5) sepia(1) hue-rotate(240deg) saturate(90) !important;
  }
}

.seperator {
  width: 75%;
  height: 4px;
  background: #2a2e39;
  margin: 1em 0;
  border-radius: 4px;
}

